@import "../config/colors";

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  &.modal-open {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
figure,
blockquote,
dl,
dd,
ul,
ol {
  color: $dark;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

svg {
  display: block;
}

.main {
  display: block;
  flex-grow: 1;
  height: 100%;
}
