&__newsletter {
  background-color: $pink;
  border-radius: 1rem;
  padding: 2.688rem 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1.75rem;

  @include break("lg") {
    flex-direction: column;
    align-items: normal;
    gap: 1.125rem;
    padding: 2.625rem 5rem;
  }

  @include break("sm") {
    padding: 2.625rem 1.25rem;
  }

  &-letters {
    position: absolute;
    top: 0;
    left: 3.75rem;
    height: 100%;

    @media (max-width: 1600px) {
      display: none;
    }

    svg {
      height: 100%;
      width: auto;
    }
  }

  &-text {
    margin-left: 13rem;

    @media (max-width: 1600px) {
      margin-left: 3.75rem;
    }

    @include break("lg") {
      margin-left: 0;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 800;
      color: #fff;
      margin-bottom: 0.25rem;
    }

    p {
      font-size: 0.813rem;
      font-weight: 500;
      line-height: 1.125rem;
      color: #fff;

      br {
        @include break("lg") {
          display: none;
        }
      }
    }
  }

  &-box {
    margin-right: 3.75rem;

    @include break("lg") {
      margin-right: 0;
    }

    &-email {
      border: 1px solid $gray;
      border-radius: 6.25rem;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      background-color: #fff;
      width: 21.25rem;

      @include break("lg") {
        width: 100%;
      }

      input {
        font-size: 0.875rem;
        font-weight: 400;
        outline: none;
        border: none;
        padding: 0.911rem 0.188rem 0.911rem 1.313rem;

        @include break("lg") {
          width: 100%;
        }
      }

      button {
        padding: 0.024rem;
        border: 0;
        cursor: pointer;
        border-radius: 50%;
        background-color: $dark_2;
        width: 2.625rem;
        height: 2.625rem;
        cursor: pointer;

        svg {
          margin: 0 auto;
          width: 1.539rem;
          height: auto;
        }
      }
    }

    &-consent {
      color: #fff;
      line-height: 1.125rem;
      font-size: 0.75rem;
      font-weight: 400;
      margin-top: 0.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      margin-left: 0.5rem;

      @include break("lg") {
        margin-left: 0;
      }

      input {
        border-radius: 0.25rem;
        border-left-color: none;
        outline: none;
        display: inline-block;
        width: 1rem;
        aspect-ratio: 1;
      }

      &-info {
        text-decoration: underline;
      }
    }

    &-error {
      display: none;
      color: #000;
      font-size: 1rem;
      margin-top: 0.25rem;
      font-weight: 600;
    }
  }
}
